name: deploy

on:
  push:
    branches:
      - 'main'
    paths:
      - '**.js'
      - '**.json'
      - '.github/workflows/deploy.yml'

jobs:
  deploy:
    env:
      GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: functions

    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: Set up gcloud
      uses: google-github-actions/setup-gcloud@v3
      with:
        project_id: ${{ secrets.FIREBASE_PJ }}

    - name: Set credential json
      run: echo ${{ secrets.GCLOUD_SERVICE_KEY }} | base64 -d > $GOOGLE_APPLICATION_CREDENTIALS

    - name: Authenticate gcloud
      run: gcloud auth activate-service-account --key-file=$GOOGLE_APPLICATION_CREDENTIALS

    - name: Deploy to Cloud Functions
      run: gcloud functions deploy postRequestFunction --gen2 --runtime=nodejs24 --region=us-central1 --trigger-http --set-env-vars FIREBASE_DATABASE_URL="${{ secrets.FIREBASE_DATABASE_URL }}" --entry-point=postRequestFunction --source=. --allow-unauthenticated
